*.py[co]
__pycache__
*.egg-info
*~
.ipynb_checkpoints
.tox
.DS_Store
.nbgrader.log
**.png
pdf/*

Chapter12/data/pubg/deaths/*.csv
Chapter15/data/*
Chapter16/data/311.db./Chapter17/model.pkl
Chapter17/model.pkl
Chapter16/data/311.db
